body{
    align-items: center;
    padding-top: 200px;
    background-repeat: no-repeat;
background-size: 100%;

}

.button{
background-color: rgb(100, 130, 230);
box-shadow: 2px 2px 10px rgb(102, 133, 233);
color:white;
text-shadow: 2px 2px 10px rgb(255, 255, 255) ;

}

.box{
    border-radius: 5%;
    align-items: center;
    margin-left: 44%;
    
padding: 55px;
height: 400;
width: 250;
background-color: black;
opacity: 0.7;
}

.form{
background-color: white;
background-position: 10px 10px;
background-repeat: no-repeat;
}

.fav{
color: white;
text-shadow: 2px black;
}